numpy==1.19.1
tensorflow==2.3.1
azureml-sdk[notebooks,automl]==1.13.0
glob2==0.7
open3d==0.8.0.0
opencv-python==4.1.2.30
matplotlib==2.2.2
importlib2==3.5.0.2
psycopg2==2.7.5
tqdm==4.31.1
pandas==0.23.0
ipywidgets==7.2.1