# TODO copyright information
# this is the file to install the cron jobs to regularily write
# messages from the Azure Storage Queues into the local filesystem
#
#
#
# Edit this file to introduce tasks to be run by cron.
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#

# m h  dom mon dow   command

### qa environment
# TODO write with environment variable

* * * * * echo "Started RG" > /proc/1/fd/1 2>/proc/1/fd/2

* * * * * /usr/bin/flock -n /app/result-gen.lock /usr/local/bin/python3 /app/src/result_gen_with_api.py --scan_parent_dir /app/data/scans/ --blur_workflow_path /app/src/workflows/blur-workflow.json --depthmap_img_workflow_path /app/src/workflows/depthmap-img-workflow.json --standing_laying_workflow_path /app/src/workflows/standing_laying-workflow.json --height_workflow_artifact_path /app/src/workflows/height-workflow-artifact.json --height_workflow_scan_path /app/src/workflows/height-workflow-scan.json --height_depthmapmultiartifactlatefusion_workflow_path /app/src/workflows/height-depthmapmultiartifactlatefusion-workflow.json --weight_workflow_artifact_path /app/src/workflows/weight-workflow-artifact.json --weight_workflow_scan_path /app/src/workflows/weight-workflow-scan.json > /proc/1/fd/1 2>/proc/1/fd/2


* * * * * echo "Finished RG" > /proc/1/fd/1 2>/proc/1/fd/2

