pool:
  vmImage: ubuntu-latest

trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - 'v*'

variables:
  - group: cgm-rg
  - name: DOCKER_CACHE_DIR
    value: $(Pipeline.Workspace)/docker_cache
  - name: DOCKER_CACHE_IMG_FILE
    value: image.tar
  - name: VENV_CACHE_DIR
    value: $(Pipeline.Workspace)/.venv

parameters:
  - name: var_groups
    type: object
    default:
      - sandbox
      - demo-qa
#      - inbmz
#      - naunam

stages:
  - stage: Setup
    jobs:
      - job: Variables
        displayName: Setup pipeline variables
        variables:
          isRelease: $[startsWith(variables['Build.SourceBranch'], 'refs/tags/')]
        steps:
          - script: |
              set -e
              if [ "$(isRelease)" == 'True' ]
              then
                # Read version from version file
                tag=$(head -n 1 VERSION)
              else
                # For feature commits tag containers with Git hash
                tag=$(git rev-parse HEAD)
              fi
              echo "##vso[task.setvariable variable=TAG;isOutput=true]$tag"
            name: ParseTag
            displayName: Parse Docker tag

  - stage: Verify
    jobs:
      - job: Verify
        steps:
          - task: Cache@2
            displayName: Cache Python dependencies
            inputs:
              key: 'rg-venv-cache | "$(Agent.OS)" | requirements.txt'
              path: $(VENV_CACHE_DIR)
              cacheHitVar: VENV_CACHE_RESTORED
          - script: |
              set -e
              python -m venv $(VENV_CACHE_DIR)
              source $(VENV_CACHE_DIR)/bin/activate
              pip install setuptools==50.3.2 wheel==0.36.2
              pip install -r requirements.txt
            displayName: Install dependencies
            condition: and(not(canceled()), eq(variables.VENV_CACHE_RESTORED, 'false'))
          - script: |
              set -e
              source $(VENV_CACHE_DIR)/bin/activate
              flake8 src/ --ignore=E501,E402
            displayName: Run Flake8
          - script: |
              set -e
              source $(VENV_CACHE_DIR)/bin/activate
              pytest --cov=src --cov-report=xml --junitxml="TEST-rg-pytest.xml"
            displayName: Run unit tests
            continueOnError: true
          - task: PublishCodeCoverageResults@1
            inputs:
              codeCoverageTool: Cobertura
              summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/TEST-*.xml'
              failTaskOnFailedTests: true

  - stage: Version
    displayName: Tag & bump version
    dependsOn: Verify
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job:
        displayName: Update version number
        condition: ne(variables['Build.Reason'], 'Manual')
        steps:
          - checkout: self
            fetchDepth: 1
            persistCredentials: true
          - script: pip install bump2version
            displayName: Install bump2version
          - script: |
              set -e
              # Setup Git
              git config --global user.email "noreply@childgrowthmonitor.org"
              git config --global user.name "CGM CI"
              # Tag current commit
              CURR_VERSION=$(head -n 1 VERSION)
              git tag -a "v$CURR_VERSION" -m "Result Generation version $CURR_VERSION"
              # Bump PATCH version
              bumpversion --commit patch
              # Push tag and bumped version
              git push --follow-tags origin HEAD:main
            displayName: Tag and bump version

  - stage: Build
    dependsOn:
      - Setup
      - Verify
    # condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    variables:
      - name: TAG
        value: $[stageDependencies.Setup.Variables.outputs['ParseTag.TAG']]
    jobs:
      - job: Build
        displayName: Build Docker image
        steps:
          - task: Docker@2
            displayName: Build Docker image
            inputs:
              command: build
              repository: $(IMAGE_REPOSITORY)
              tags: |
                latest
                $(Build.BuildId)
                $(TAG)
          - script: |
              set -e
              echo $(TAG)
              mkdir -p $(DOCKER_CACHE_DIR)
              docker image save --output "$(DOCKER_CACHE_DIR)/$(DOCKER_CACHE_IMG_FILE)" $(IMAGE_REPOSITORY)
            condition: not(canceled())
          - publish: $(DOCKER_CACHE_DIR)
            artifact: DockerCache

  - ${{ each env in parameters.var_groups }}:
    - stage: Deploy_${{ replace(env, '-', '_') }}
      displayName: Deploy ${{ env }}
      dependsOn: Build
      # condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
      variables:
        - group: cgm-rg-${{ env }}-ci
        - name: TAG
          value: $[stageDependencies.Setup.Variables.outputs['ParseTag.TAG']]
      jobs:
        - deployment: Deploy_Container_Instance
          variables:
          - name: TAG
            value: $[stageDependencies.Setup.Variables.outputs['ParseTag.TAG']]
          displayName: "Container Instance deployment ${{ env }}"
          environment: cgm-rg-${{ env }}-env
          strategy:
            runOnce:
              deploy:
                steps:
                  - task: DownloadPipelineArtifact@2
                    inputs:
                      source: current
                      artifact: DockerCache
                      path: $(DOCKER_CACHE_DIR)
                  - script: |
                      set -e
                      echo $(TAG)
                      echo $TAG
                      docker image load -i $(DOCKER_CACHE_DIR)/$(DOCKER_CACHE_IMG_FILE)
                      echo $(IMAGE_REPOSITORY):$(TAG)
                      docker tag "$(IMAGE_REPOSITORY):$(TAG)" "$(TARGET_REGISTRY)/$(IMAGE_REPOSITORY):$(TAG)"
                    displayName: Load and Tag image
                  - task: AzureCLI@2
                    displayName: Push to target ACR
                    inputs:
                      azureSubscription: cgm-${{ env }}-sub-cd
                      scriptType: bash
                      scriptLocation: inlineScript
                      inlineScript: |
                        set -e
                        # Login to ACR
                        az acr login --name $(TARGET_REGISTRY)
                        # Push Docker image
                        IMAGE="$(TARGET_REGISTRY)/$(IMAGE_REPOSITORY):$(TAG)"
                        docker push "$IMAGE"
                  - script: sudo snap install yq
                    displayName: Install yq utility
                  - task: AzureCLI@2
                    displayName: Update Container Instance
                    inputs:
                      azureSubscription: cgm-${{ env }}-sub-cd
                      scriptType: bash
                      scriptLocation: inlineScript
                      inlineScript: |
                        set -e

                        # Export current setup -> modify and use as input for in-place update
                        TMP_CONF_FILE=rg-ci-conf.yaml
                        az container export \
                          --name "$TARGET_CONTAINER_INSTANCE_NAME" \
                          --resource-group "$TARGET_RESOURCE_GROUP" \
                          --file "$TMP_CONF_FILE"

                        # Replace image
                        IMAGE="$(TARGET_REGISTRY)/$(IMAGE_REPOSITORY):$(TAG)"
                        export IMAGE
                        yq eval '.properties.containers[0].properties.image = strenv(IMAGE)' "$TMP_CONF_FILE" -i

                        # Insert registry credentials
                        REGISTRY_CREDENTIALS=$(az acr credential show --name "$TARGET_REGISTRY")

                        REGISTRY_USERNAME=$(echo "$REGISTRY_CREDENTIALS" | jq '.username' --raw-output )
                        export REGISTRY_USERNAME
                        yq eval '.properties.imageRegistryCredentials[0].username = strenv(REGISTRY_USERNAME)' \
                          "$TMP_CONF_FILE" --inplace

                        REGISTRY_PASSWORD=$(echo "$REGISTRY_CREDENTIALS" | jq '.passwords[0].value' --raw-output )
                        export REGISTRY_PASSWORD
                        yq eval '.properties.imageRegistryCredentials[0].password = strenv(REGISTRY_PASSWORD)' \
                          "$TMP_CONF_FILE" --inplace

                        # Deploy updated image
                        az container create \
                          --name "$TARGET_CONTAINER_INSTANCE_NAME" \
                          --resource-group "$TARGET_RESOURCE_GROUP" \
                          --file "$TMP_CONF_FILE"
